/* Custom styling for the Digital Specimen page's components */

/* Properties table */
.propertiesTable {
    border-left: 1px solid var(--grey);
    border-right: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
}