.pagination-container {
    background-color: #fff;
    width: 100%;
    align-items: center;
    padding: var(--spacing-sm);
    display: flex;
    justify-content: space-between;

    .pagination-info {
        font-size: var(--xs-font-size);
    }
}