/* Custom CSS for Specimen Page */


.specimenContent {
    height: calc(100vh - 208px)
}


/* ID Card */

.IDCardHead {
    height: 150px;
}

.IDCardBlock {
    height: Calc(100% - 150px);
}

.IDCardBanner {
    height: 15%;
}

.IDCardBannerCover {
    background-color: #333333;
    opacity: 0.2;
}

.IDCard {
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.IDCardBackground {
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0.375rem;
}

.IDCardPropertyBlock {
    transition: 0.4s;
}

.IDCardPropertyBlock:hover {
    background-color: var(--main-color-light);
    cursor: pointer;
}

.IDCardProperty {
    font-size: 13px;
}

.IDCardValue {
    font-size: 15px;
}

.IDCardLogo {
    filter: grayscale(100%);
}

.midsBar {
    font-size: 14px;
}

/* Version Dropdown */

.versionBlock {
    height: 40px;
    position: absolute;
}

.versionBlock.active {
    height: auto;
    right: 0;
    border: 1px solid var(--main-color-dark);
}

.versionOptions {
    display: none;
}

.versionOptions.active {
    display: block;
}

.versionOption {
    height: 40px;
    line-height: 40px;
    border-top: 1px solid var(--greyXLight);
    border-bottom: 1px solid var(--greyXLight);
    cursor: pointer;
}

.versionOption:hover {
    background-color: var(--greyLight) !important;
}

.versionOption.chosen {
    background-color: var(--main-color-dark) !important;
    color: white;
    border: none;
}

.versionOptionIcon {
    right: 0;
    margin-top: 12px;
    transition: 0.3s;
    transform: rotate(0deg);
}

.versionOptionIcon.active {
    transform: rotate(180deg);
}


/* Content Blocks */

.contentBlock {
    height: Calc(100% - 40px);
}

/* Digital Specimen Block */

.propertyTable {
    border-collapse: separate;
    border-spacing: 0px 4px;
    position: relative;
    width: 100%;
    z-index: 1;
}

.propertyTableRow {
    transition: 0.3s;
    cursor: pointer;
    border-radius: 8px;
}

.propertyTableRow:hover {
    background-color: var(--main-color-light);
}

.propertyTitle {
    color: var(--main-color);
    font-weight: bold;
    text-align: start;
}

.mapPlaceholder {
    background-color: var(--main-color-light);
}

.organisationLogo {
    filter: grayscale(100%);
    opacity: 0.5;
    margin: 0px 10px 10px 0px;
}

/* Original Data Block */

.originalDataTable {
    height: 95%;
}

/* Annotations Block */

.annotationFilter {
    color: gray;
    font-size: 14px;
}

.annotationFilter:hover {
    color: var(--main-color);
    cursor: pointer;
}

.annotationFilter.active {
    color: var(--main-color);
    font-weight: bold;
}

/* Digital Media Block */
.digitalMediaImagesBlock {
    height: 35%;
}

.digitalMediaTitle {
    font-size: 15px;
}

.digitalMediaImagesSlider {
    height: 90%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    border: 1px solid var(--secondary);
    background-color: #ddeeea;
    border-radius: 8px;
}

.digitalMediaImageDiv {
    width: min-content;
}

.digitalMediaImage {
    border-radius: 8px;
    transition: 0.4s;
}

.digitalMediaImageHover {
    opacity: 0;
    font-size: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.4s;
}

.digitalMediaImageHover.active {
    opacity: 1;
}

/* MIDS Block */

.midsProperty {
    border: 1px solid var(--main-color);
}