.header {
    height: 80px;
    background-color: rgb(46, 92, 184, 0.80);
    position: relative;
}

.headerTitle {
    font-size: 22px;
    line-height: 80px;
    color: white;
    font-weight: bold;
}

.loginButton {
    width: 80%;
    height: 30px;
    background-color: white;
    border: none;
    border-radius: 4px;
    margin: 25px 0px 0px 10%;
}