/* Home Page header */

.header_home {
    height: 80px;
    background-color: rgb(46, 92, 184, 0.80);
}

.header_homeTitle {
    font-size: 22px;
}

.header_homeSubTitle {
    font-size: 20px;
}

.header_homeProofOfConcept {
    font-size: 16px;
}


/* Content Pages header */

.header {
    height: 80px;
    border-bottom: 1px solid var(--grey);
}

.header_logo {
    width: 125px;
}

.header_title {
    font-size: 20px;
    line-height: 55px;
}

.header_proofOfConcept {
    font-size: 16px;
}


/* Login button */

.header_loginButtonBlock {
    padding-right: 0 !important;
}

.header_loginButton {
    height: 30px;
    background-color: white;
    border-radius: 4px;
    transition: 0.4s;
}

.header_loginButton:hover {
    background-color: var(--main-color-dark);
    color: white;
}


/* Profile */

.header_profile {
    line-height: 45px;
    font-size: 15px;
}

.header_profilePic {
    border: 2px solid white;
    border-radius: 4px;
    width: 35px;
    height: 35px;
}


/* Navigation */

.navbar-collapse.show {
    background-color: white;
    padding: 2%;
}

.navItem {
    border-left: 1px solid var(--main-color-light);
    border-right: 1px solid var(--main-color-light);
    transition: 0.4s;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
}

.navItem.home {
    background-color: white;
}

.navItem:hover {
    background-color: var(--greyLight);
}

.navItem.home:hover {
    color: #333333;
}