/* Custom styling for Profile Page */

/* Generic */
.profileContent {
    height: calc(100vh - 208px)
}

/* Passport */
.passport {
    border: 1px solid var(--primary);
    border-radius: 8px;
}

.passportHead {
    height: 75px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.profilePicture {
    width: 75px;
    height: 75px;
    line-height: 45px;
    font-size: 26px;
    border: 2px solid white;
    margin-top: Calc(75px / 2);
}

.profileExternalButton:hover {
    background-color: var(--accent);
}

/* Profile Content Tabs */
.profileContentTabs {
    padding-top: 75px;
}

/* User Form */
.userInfoSubmit:hover {
    background-color: var(--accent) !important;
}

/* Annotations Table */
.annotationsTable {
    height: 85%;
}

.annotationsTablePaginator {
    margin-top: 2.5%;
    height: 10%;
}