/* Custom styling for Profile Page */

.profileContent {
    height: calc(100vh - 208px)
}

.profileTop {
    background-color: var(--primary);
    height: 75px;
    border-top-left-radius: var(--bs-border-radius) !important;
    border-top-right-radius: var(--bs-border-radius) !important;
}

.profileBody {
    background-color: white;
    border: 1px solid var(--grey);
}

.profilePicture {
    width: 75px;
    height: 75px;
    line-height: 45px;
    font-size: 26px;
    border: 2px solid white;
    margin-top: Calc(75px / 2);
    background-color: var(--secondary);
}

.profileTitle {
    font-size: 18px;
}

.profileSubTitle {
    font-size: 15px;
    color: var(--greyDark);
}

.tabs {
    height: Calc(100% - 195px);
}

.tabsList {
    font-size: 14px;
}

.tab {
    border: none;
    color: var(--greyDark);
}

.tab:hover {
    text-decoration: underline;
}

.tabSelected {
    color: #333333;
    font-weight: bold;
    text-decoration: none !important;
}

.profileRightBlock {
    background-color: #aae7ee;
    border-radius: 8px;
}

.profileAnnotationsBlock {
    height: Calc(100% - 50px);
}

.profileText {
    font-size: 15px;
}

.profileExternalButton {
    color: white;
    background-color: var(--secondary);
    border: none;
    border-radius: 8px;
    transition: 0.4s;
}

.profileExternalButton:hover {
    background-color: var(--accent);
}

/* Passport */
.passport {
    border: 1px solid var(--primary);
    border-radius: 8px;
}

.passportHead {
    height: 75px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.passportLogo {
    color: var(--accent);
    font-size: 20px;
}

.passportLinkBox {
    border: 1px solid var(--accent);
}

.passportEditIcon {
    font-size: 20px;
}

/* Profile Content Tabs */
.profileContentTabs {
    padding-top: 75px;
}

/* User Form */
.userInfoInputTitle {
    font-size: 12px;
}

.userInfoInput {
    border: 1px solid var(--grey);
}

.userInfoInput:focus {
    border: 1px solid var(--main-color);
}

.userInfoSubmit {
    background-color: var(--primary);
    transition: 0.4s;
}

.userInfoSubmit:hover {
    background-color: var(--accent);
}

/* Annotations Table */
.annotationsTable {
    height: 85%;
}

.annotationsTablePaginator {
    margin-top: 2.5%;
    height: 10%;
}