header {
    #hero-top-buttons {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
    }
    h1 {
        margin-top: 8px;
    }
    #hero-content {
        display: flex;
        .description-container {
            position: relative;
            width: 600px;
            .clamped-description {
                padding-right: 24px;
                margin: 0;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                line-height: 1.5;
                color: var(--gray-12); // Use Radix UI theme variables if available
            }
            .read-more-inline {
                position: absolute;
                bottom: 0;
                right: 24px;
                background: white; // Match your background color
                padding-left: 8px;
                border: none;
                cursor: pointer;
                font-size: var(--md-font-size);
                text-decoration: underline;
            }
            span {
                font-weight: var(--medium-font-weight);
            }
        }
        .details-container {
            padding-left: 24px;
            border-left: 1px solid var(--divider-gray);
            p {
                font-size: var(--sm-font-size);

                .details-label {
                    font-weight: var(--medium-font-weight);
                }
            }
        }
    }
}