@use "styles/mixins.scss" as *;

header {
    #hero-top-buttons {
        display: flex;
        justify-content: space-between;
        margin-block-end: var(--spacing-l);
    }
    h1 {
        margin-block-start: var(--spacing-sm);
    }
    #hero-content {
        display: flex;
        flex-direction: column;

        @include largeAndUp {
            flex-direction: row;
        }

        .description-container {
            position: relative;
            max-width: var(--header-content-spacing);

            .clamped-description {
                padding-inline-end: var(--spacing-l);
                margin: 0;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
            .read-more-inline {
                position: absolute;
                top: var(--spacing-xxxl);
                right: var(--spacing-l);
                background: var(--background-white);
                padding-inline-end: var(--spacing-sm);
                border: none;
                cursor: pointer;
                font-size: var(--md-font-size);
                text-decoration: underline;
            }
            span {
                font-weight: var(--medium-font-weight);
            }
        }
        .details-container {
            @include largeAndUp {
                border-left: 1px solid var(--divider-gray);
                padding-inline-start: var(--spacing-l);
            }

            p {
                font-size: var(--sm-font-size);
                padding-block-start: var(--spacing-xs);

                .details-label {
                    font-weight: var(--medium-font-weight);
                }
                .dot-divider {
                    margin-inline: var(--spacing-sm);
                }
                .btn-as-link svg {
                    margin-inline-start: var(--spacing-xs);
                }
            }
        }
        .mobile-view {
            display: block;
            padding-block-start: var(--spacing-l);


            @include largeAndUp {
                display: none;
            }
        }

        .desktop-view {
            display: none;

            @include largeAndUp {
                display: block;
            }
        }
    }
}