header {
    #hero-top-buttons {
        display: flex;
        justify-content: space-between;
        margin-block-end: var(--spacing-l);
    }
    h1 {
        margin-block-start: var(--spacing-sm);
    }
    #hero-content {
        display: flex;

        .description-container {
            position: relative;
            width: var(--header-content-spacing);

            .clamped-description {
                padding-inline-end: var(--spacing-l);
                margin: 0;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
            .read-more-inline {
                position: absolute;
                top: 48px;
                right: 24px;
                background: var(--background-white);
                padding-inline-end: var(--spacing-sm);
                border: none;
                cursor: pointer;
                font-size: var(--md-font-size);
                text-decoration: underline;
            }
            span {
                font-weight: var(--medium-font-weight);
            }
        }
        .details-container {
            padding-inline-start: var(--spacing-l);
            border-left: 1px solid var(--divider-gray);

            p {
                font-size: var(--sm-font-size);
                padding-block-start: var(--spacing-xs);

                .details-label {
                    font-weight: var(--medium-font-weight);
                }
            }
        }
    }
}