/* Styling for annotation components on Specimen Page */


/* Annotate Sections */

.annotate_annotationSections {
    height: 80% !important;
    overflow-y: scroll;
    overflow-x: hidden;
}

.annotate_annotateSection {
    border-left: 1px solid var(--main-color);
}

.annotate_annotateSectionTitle {
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid #333333;
    cursor: pointer;
}

.annotate_annotateSectionTitleIcon {
    transition: 0.4s;
}

.annotate_annotateSectionTitleIcon.active {
    transform: rotate(180deg);
}

.annotate_annotateSectionRow {
    height: 0;
    overflow: hidden;
}

.annotate_annotateSectionRow.active {
    height: auto;
}

.annotate_annotateItem {
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    transition: 0.4s;
    cursor: default;
}

.annotate_annotateItem:hover {
    background-color: #e6e6e6;
}

.annotate_annotateProperty {
    font-size: 14px;
}

.annotate_annotatePropertyName {
    font-style: italic;
}

.annotate_annotatePropertyLink {
    color: var(--main-color);
}

.annotate_annotateIndication {
    font-size: 13px;
    background-color: #009973;
    text-align: center;
    color: white;
    font-weight: bold;
    height: fit-content;
}


/* Annotate modal */

.annotate_modal .modal-dialog {
    height: 100%;
    margin: 0 auto !important;
}

.annotate_modal .modal-content {
    background-color: rgba(255, 255, 255, 0);
    height: 84.8%;
    overflow: hidden;
    padding-top: 11.2%;
    border: none;
}

.annotate_modalFormSection {
    display: none;
}

.annotate_modalFormSection.active {
    display: block;
}

.annotate_modalHeader {
    height: 50px;
    width: fit-content;
    background-color: var(--main-color);
    color: white
}

.annotate_modalHeaderTitle {
    font-size: 20px !important;
}

.annotate_modalHeaderButton {
    position: absolute;
    height: 30px;
    margin-top: 20px;
    right: 0;
    top: 0;
    padding: 0px 2% 0px 2%;
    background-color: #404040;
    border: none;
    color: white;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}

.annotate_modalBody {
    background-color: white;
    height: Calc(100% - 50px);
}

.annotate_modalBody.right {
    margin-top: 50px !important;
    overflow-y: scroll;
}

.annotate_modalCurrentValue {
    border-bottom: 2px solid var(--main-color-darker);
    height: 40px;
}

.annotate_modalCurrentValueTitle {
    font-weight: bold;
}

.annotate_modalAnnotationsBody {
    height: Calc(100% - 40px);
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.annotate_modalAddAnnotationButton {
    height: 30px;
    border: 2px solid var(--main-color-darker);
    line-height: 30px;
    transition: 0.4s;
    cursor: pointer;
}

.annotate_modalAddAnnotationButton:hover {
    background-color: var(--main-color-darker);
    color: white;
}

.annotate_annotationMessageType {
    background-color: var(--main-color-darker);
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.annotate_annotationMessageVersion {
    font-size: 14px;
    text-align: center;
    border-left: 1px solid var(--main-color-darker);
    border-top: 1px solid var(--main-color-darker);
    border-right: 1px solid var(--main-color-darker);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.annotate_annotationMessageBlock {
    border: 1px solid var(--main-color-darker);
    background-color: var(--greyXLight);
}

.annotate_annotationMessageBlock.me {
    background-color: var(--main-color-light);
}

.annotate_annotationMessageBlock.edit {
    background-color: var(--main-color-green);
    color: white;
}

.annotate_annotationMessage {
    font-size: 14px;
    transition: 0.4s;
}

.annotate_annotationMessage.edit {
    background-color: #404040;
    color: white
}

.annotate_annotationMessageRemarks {
    font-size: 13px;
    padding-top: 2%;
    padding-bottom: 2%;
}

.annotate_annotationDate {
    font-size: 12px;
    margin-top: 1% !important;
    color: var(--greyDark);
}

.annotate_editIcon {
    font-size: 22px;
    float: right;
}

.annotate_editIcon.pencil {
    font-size: 20px;
}

.annotate_editIcon.save {
    color: var(--main-color);
    margin-right: 15%;
}

.annotate_editIcon.delete {
    color: var(--denied);
    margin-right: 40%;
}

.annotate_editTextarea {
    width: 100%;
    resize: none;
    background-color: inherit;
    border: none;
    color: inherit;
}


/* Annotation types */

.annotate_annotationTypeSelect {
    background-color: var(--main-color);
    border: none;
    color: white;
    min-width: 70%;
}

.annotate_annotationTypeContext {
    background-color: var(--main-color-light);
    font-size: 13px;
}

.annotate_annotationTypeFieldTitle {
    font-size: 15px;
}

.annotate_annotationTypeField {
    font-size: 14px;
    width: 100%;
}

.annotate_annotationTypeTextArea {
    resize: none;
    width: 100%;
    font-size: 14px;
}

.annotate_annotationTypeSubmit {
    background-color: white;
    border: 2px solid var(--main-color-darker);
    font-size: 15px;
    transition: 0.4s;
}

.annotate_annotationTypeSubmit:hover {
    background-color: var(--main-color-darker);
    color: white;
}

.annotate_annotationTypeMultipleAdd {
    font-size: 13px;
    background-color: var(--grey);
}