.annotate_content {
    height: calc(100vh - 160px);
}

.annotate_returnTo {
    color: var(--main-color);
}

.annotate_returnToIcon {
    transform: rotate(90deg);
}


/* Sticky information top bar */

.annotate_specimenBarBlock {
    border-bottom: 1px solid var(--main-color-darker);
}

.annotate_specimenBar {
    height: 80px;
}

.annotate_basisOfRecordSymbolBlock {
    border-top-left-radius: 8px;
    text-align: center;
    color: var(--main-color-darker);
    border-left: 2px solid var(--main-color-darker);
    border-top: 2px solid var(--main-color-darker);
    line-height: 40px;
    font-size: 22px;
}

.annotate_titleBlock {
    background-color: var(--main-color-darker);
    color: white;
    font-size: 22px;
    border-top-right-radius: 8px;
    font-weight: bold;
    line-height: 40px;
}

.annotate_annotateBlocks {
    background-color: var(--grey);
}

.annotate_annotateBlock {
    background-color: var(--greyMedium);
    line-height: 40px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    opacity: 80%;
}

.annotate_annotateBlock.active {
    opacity: 100%;
    background-color: #009973;
}

.annotate_midsMeterBlock {
    padding: 2%;
    border: 1px solid var(--main-color-darker);
}

.annotate_midsMeterBar {
    background-color: var(--main-color);
    text-align: center;
    font-weight: bold;
}

.annotate_midsMeterTitleRight {
    text-align: right;
}

.annotate_midsMeterChevronDown {
    transform: rotate(180deg);
    transition: 0.4s;
    cursor: pointer;
}

.annotate_midsMeterChevronDown.hidden {
    transform: rotate(0deg);
}


/* MIDS details block */
.annotate_midsDetails {
    position: relative;
}

.annotate_midsDetailsBlock {
    background-color: var(--greyXLight);
    width: 100%;
    height: 300px;
    left: 0;
    overflow: hidden;
    transition: 0.4s;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
}

.annotate_midsDetailsBlock.hidden {
    height: 0px;
}

.annotate_midsDetailsBlockTitle {
    font-size: 16px;
}

.annotate_midsDetailsSections {
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    position: relative;
}

.annotate_midsDetailsSection {
    border-left: 1px solid var(--main-color);
}

.annotate_midsDetailsSectionTitle {
    font-size: 15px;
    font-style: italic;
    border-bottom: 1px solid;
}

.annotate_midsDetailsSectionContent {
    font-size: 14px;
}

.annotate_midsDetailsIndication {
    font-size: 13px;
    background-color: #009973;
    text-align: center;
    color: white;
    font-weight: bold;
}


/* Annotate Sections */

.annotate_annotationSections {
    height: 80% !important;
    overflow-y: scroll;
    overflow-x: hidden;
}

.annotate_annotateSection {
    border-left: 1px solid var(--main-color);
}

.annotate_annotateSectionTitle {
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid #333333;
    cursor: pointer;
}

.annotate_annotateSectionTitleIcon {
    transition: 0.4s;
}

.annotate_annotateSectionTitleIcon.active {
    transform: rotate(180deg);
}

.annotate_annotateSectionRow {
    height: 0;
    overflow: hidden;
}

.annotate_annotateSectionRow.active {
    height: auto;
}

.annotate_annotateItem {
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    transition: 0.4s;
}

.annotate_annotateItem:hover {
    background-color: #e6e6e6;
}

.annotate_annotateProperty {
    font-size: 14px;
}

.annotate_annotatePropertyName {
    font-style: italic;
}

.annotate_annotateIndication {
    font-size: 13px;
    background-color: #009973;
    text-align: center;
    color: white;
    font-weight: bold;
}


/* Annotate modal */

.annotate_modal .modal-dialog {
    height: 65%;
    margin: 0 auto;
}

.annotate_modal .modal-content {
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    margin-top: 11.2%;
    border: none;
}

.annotate_modalHeader {
    height: 50px;
    width: fit-content;
    background-color: var(--main-color);
    color: white
}

.annotate_modalHeaderTitle {
    font-size: 20px !important;
}

.annotate_modalHeaderButton {
    position: absolute;
    height: 30px;
    margin-top: 20px;
    margin-right: 2.5%;
    right: 0;
    top: 0;
    padding: 0px 2% 0px 2%;
    background-color: #404040;
    border: none;
    color: white;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}

.annotate_modalBody {
    background-color: white;
    height: 100%;
}

.annotate_modalBody.right {
    margin-top: 50px !important;
}

.annotate_modalCurrentValue {
    border-bottom: 2px solid var(--main-color-darker);
}

.annotate_modalCurrentValueTitle {
    font-weight: bold;
}

.annotate_annotationMessage {
    background-color: #e6e6e6;
    font-size: 14px;
    padding-top: 1%;
    transition: 0.4s;
}

.annotate_annotationMessage.me {
    background-color: var(--main-color-light);
}

.annotate_annotationMessage.edit {
    background-color: #404040;
    color: white
}

.annotate_annotationDate {
    font-size: 12px;
    color: var(--greyDark);
}

.annotate_editIcon {
    font-size: 22px;
    float: right;
}

.annotate_editIcon.pencil {
    font-size: 20px;
}

.annotate_editIcon.save {
    color: var(--main-color);
    margin-right: 15%;
}

.annotate_editIcon.delete {
    color: var(--denied);
    margin-right: 40%;
}

.annotate_editTextarea {
    width: 100%;
    resize: none;
    background-color: inherit;
    border: none;
    color: inherit;
}


/* Annotation types */


.annotate_annotationTypeSelect {
    background-color: var(--main-color);
    border: none;
    color: white;
    min-width: 70%;
}

.annotate_annotationTypeContext {
    background-color: var(--main-color-light);
    font-size: 13px;
}

.annotate_annotationTypeFieldTitle {
    font-size: 15px;
}

.annotate_annotationTypeField {
    font-size: 14px;
    width: 100%;
}

.annotate_annotationTypeTextArea {
    resize: none;
    width: 100%;
    font-size: 14px;
}

.annotate_annotationTypeSubmit {
    background-color: white;
    border: 2px solid var(--main-color-darker);
    font-size: 15px;
    transition: 0.4s;
}

.annotate_annotationTypeSubmit:hover {
    background-color: var(--main-color-darker);
    color: white;
}