.digital-specimen-card {
    .ds-card-header {
        margin-bottom: 16px;
    }
    .ds-card-georeference {
        width: 100%;
        height: 320px;
        margin-block-end: 8px;
    }
    .ds-card-citation {
        max-height: 92px;
        width: 100%;
        background-color: #F2F3F8;
        padding: 16px;
        margin-block-end: 8px;

        p {
            font-size: 14px;

            a {
                color: black;
                text-decoration: underline;
            }

        }
    }
    .ds-card-body {
        display: grid;
        grid-template-columns: 200px 1fr;
        gap: 8px 16px;
        align-items: start;
    }
}