.footer {
    background-color: #333333;
    height: 160px;
    margin-bottom: -112px;
}

.footer.home {
    position: static;
    bottom: 0;
    margin-top: 4% !important;
}

.footer_text {
    color: white;
    font-size: 13px;
}

.footer_link {
    color: var(--main-color) !important;
}

.footer_logo {
    height: 50px;
}