/* Login Button */
.loginButton {
    width: 80%;
    height: 30px;
    background-color: white;
    border: none;
    border-radius: 4px;
    margin: 25px 0px 0px 10%;
}


/* Modal */
.loginModal {
    margin-top: 125px;
}