/* Styling for custom Select Components */

/* Input List Select Component */
.inputListSelectOption {
    border-top: 1px solid var(--grey);
    transition: 0.2s;
    text-align: left;
}

.inputListSelectOption.active {
    background-color: var(--secondary);
    color: white;
}