/* Filter menu */

.search_filterMenu {
    border: 2px solid var(--main-color-darker);
    height: calc(100vh - 220px);
    -webkit-box-shadow: 10px 10px 29px -13px rgba(51, 51, 51, 0.83);
    box-shadow: 10px 10px 29px -13px rgba(51, 51, 51, 0.83);
    z-index: 1;
}

.search_filterMenuTitle {
    font-size: 14px;
    font-weight: bold;
}

.search_filterMenuFilter {
    width: 90%;
}


/* Search bar */

.search_searchBarTitle {
    font-size: 15px;
    color: white;
}

.search_searchBar {
    background-color: var(--main-color-darker);
}

.search_searchBarInput {
    width: 100%;
}

.search_searchBarSubmit {
    position: absolute;
    background-color: white;
    color: #333333;
    border: none;
    margin: 2px 0px 0px -28px;
}


/* Results table */
.search_resultsSection {
    background-color: white;
    height: calc(100vh - 220px);
}

.search_resultsTable {
    height: 100%;
    overflow-y: auto;
}

.search_resultsTableContent {
    height: calc(100% - 31px);
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.search_tableHeader {
    font-size: 14px;
    background-color: var(--main-color-light);
    padding: 5px 0px 5px 0px;
    position: sticky;
    top: 0;
}

.search_tableRow {
    background-color: white;
    height: auto;
    padding: 10px 0px 10px 0px;
    font-size: 14px;
    cursor: pointer;
}

.search_tableRow.odd {
    background-color: #e6e6e6;
}

.search_tableRow:hover {
    background-color: var(--main-color-light);
}


/* Search results and paginator */

.search_resultCount {
    border: 1px solid var(--main-color-darker);
    height: fit-content;
    font-size: 15px;
}