/* Import fonts */
@font-face {
    font-family: 'Inter';
    src: url(webroot/font/Inter-VariableFont_opsz,wght.ttf);
}
@font-face {
    font-family: 'Courier Prime';
    src: url(webroot/font/CourierPrime-Regular.ttf);
}