@use "styles/mixins.scss" as *;

header {
    padding: var(--spacing-l) var(--spacing-m);

    @include smallAndUp {
        padding: var(--spacing-l) var(--spacing-xl);
    }
}

main {
    padding: var(--spacing-l) var(--spacing-m);
    background-color: var(--background-gray);

    @include smallAndUp {
        padding: var(--spacing-l) var(--spacing-xl);
        min-height: 50vh;
    }
}

/* Buttons */
.btn-as-link {
    border: none;
    background-color: inherit;
    color: var(--indigo-11);
    svg {
        fill: var(--indigo-11);
    }
}

.btn-as-link:hover {
    text-decoration: underline;
}