/* Import color definitions */
@import './colors.scss';

/* Import fonts */
@font-face {
    font-family: 'Inter';
    src: url(webroot/font/Inter-VariableFont_opsz,wght.ttf);
}
@font-face {
    font-family: 'Courier Prime';
    src: url(webroot/font/CourierPrime-Regular.ttf);
}

/* Global theme adjustments */
.dark, .dark-theme, :is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
    --color-background: #111;
}

/* Radix theme configuration */
.radix-themes {
    --default-font-family: 'Inter', sans-serif;
    --default-font-weight: 300;
    --default-font-color: var(--greyDark);
    --default-font-size: 1rem;
    --default-line-height: px;

    /* Map custom blueberry color to Radix indigo */
    --indigo-1: var(--disscover-blueberry-1);
    --indigo-2: var(--disscover-blueberry-2);
    --indigo-3: var(--disscover-blueberry-3);
    --indigo-4: var(--disscover-blueberry-4);
    --indigo-5: var(--disscover-blueberry-5);
    --indigo-6: var(--disscover-blueberry-6);
    --indigo-7: var(--disscover-blueberry-7);
    --indigo-8: var(--disscover-blueberry-8);
    --indigo-9: var(--disscover-blueberry-9);
    --indigo-10: var(--disscover-blueberry-10);
    --indigo-11: var(--disscover-blueberry-11);
    --indigo-12: var(--disscover-blueberry-12);

    --indigo-a1: var(--disscover-blueberry-a1);
    --indigo-a2: var(--disscover-blueberry-a2);
    --indigo-a3: var(--disscover-blueberry-a3);
    --indigo-a4: var(--disscover-blueberry-a4);
    --indigo-a5: var(--disscover-blueberry-a5);
    --indigo-a6: var(--disscover-blueberry-a6);
    --indigo-a7: var(--disscover-blueberry-a7);
    --indigo-a8: var(--disscover-blueberry-a8);
    --indigo-a9: var(--disscover-blueberry-a9);
    --indigo-a10: var(--disscover-blueberry-a10);
    --indigo-a11: var(--disscover-blueberry-a11);
    --indigo-a12: var(--disscover-blueberry-a12);
}

/* General layout and component styles */
#app-container {
    margin: auto;
}

ul {
    padding: 0;
    
    li {
        list-style: none;
    }
}

nav {
    max-width: 1200px;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    ul {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
}

footer {
    max-width: 1200px;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

a {
    color: var(--accent-a11);
    font-weight: 400;
}