// WIP due to refactor

/* Radix Theme overwrites */
.radix-themes {
    /* Default font styles */
    --default-font-family: var(--font-family);
    --default-code-font-family: var(--code-font-family);
    --default-font-color: var(--indigo-4);
    --default-line-height: 1.5;
    --default-font-size: var(--md-font-size);
    --default-font-weight: var(--regular-font-weight);
}

:root {
    font-weight: var(--regular-font-weight);
}

/* Typography */
p {
    font-weight: var(--regular-font-weight);
    font-size: var(--md-font-size);
    margin: 0px;
    padding: 0px;
}

/* Headings */
h1 {
    font-weight: var(--bold-font-weight);
    font-size: var(--3xl-font-size);
}
h2 {
    font-weight: var(--bold-font-weight);
    font-size: var(--xl-font-size);
}
h3 {
    font-weight: var(--bold-font-weight);
    font-size: var(--md-font-size);
}

p.subtitle {
    font-size: var(--xl-font-size);
}

/* Links and buttons */
a {
    color: var(--indigo-11);
    text-decoration: none;
}

a.navigation-link {
    font-size: var(--sm-font-size);
}

