.digital-specimen-card {
    padding: var(--spacing-m);
    margin-block-end: var(--spacing-l);
    .digital-specimen-card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block-end: var(--spacing-sm);

        h2 {
            font-size: var(--md-font-size);
            font-weight: var(--bold-font-weight);
        }
    }
    .digital-specimen-card-content {
        padding: var(--spacing-m) var(--odd-spacing-xxs);
        display: grid;
        grid-template-columns: var(--general-card-height) 1fr;
        gap: var(--spacing-sm) var(--spacing-m);
        align-items: start;

        &:last-of-type {
            padding: var(--spacing-m) var(--odd-spacing-xxs) var(--odd-spacing-xxs) var(--odd-spacing-xxs)
        }
    }
    .digital-specimen-card-georeference {
        width: 100%;
        height: var(--general-card-width);
        margin-block-end: var(--spacing-sm);
    }
    .digital-specimen-card-citation {
        max-height: var(--citation-content-spacing);
        width: 100%;
        background-color: var(--indigo-2);
        padding: var(--spacing-m);
        margin-block-end: var(--spacing-sm);

        p {
            font-size: var(--sm-font-size);

            a {
                color: inherit;
                text-decoration: underline;
            }

        }
    }
    .card-divider {
        height: 1px;
        width: 100%;
        background-color: var(--medium-gray);
    }
}

.digital-media-container {
    position: sticky;
    top: 0;
    .digital-media-card { 
        a {
            .digital-media-card-image {
                width: 100%;
                aspect-ratio: 1/1;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        }
    }
    
    .digital-media-list {
        display: flex;
        margin-block-start: var(--spacing-sm);
        position: sticky;

        .digital-media-thumb-btn {
            border: none;
            margin: var(--odd-spacing-xxs);
            padding: var(--odd-spacing-xxs);

            img {
                width: 80px;
                height: 80px;
                margin-inline-end: var(--spacing-sm);
            }
        }
        .active {
            border: var(--odd-spacing-sm) solid var(--indigo-10);
        }
    }
}