.property-row-fragment {
    display: contents;

    .property-label {
        font-size: 14px;
        font-weight: 500;
    }
    .property-value {
        font-size: 14px;
        font-weight: 400;
    }
}