@use "styles/mixins.scss" as *;

#mobile-view {
    display: block;

    @include smallAndUp {
        display: none;
    }
}

#desktop-view {
    display: none;

    @include smallAndUp {
        display: flex;
    }
}

.rt-TableBody {
    background-color: #fff;
}

.rt-TableRootTable {
    min-width: 923px;
    margin-bottom: 24px;
}

#header-content-virtual-collections {
    display: flex;
}
