/* Custom styling for the components of the home page */

/* Advanced Search */
.advancedSearch {
    margin-bottom: -80rem;
    transition: 0.5s;
    overflow: visible;
}

/* Topic Filters */
.topicFilter {
    height: 7rem;
    transition: 0.3s;
}