/* Custom styling for Home page */

/* Generic */
.content {
    margin-top: 4.5em;
}

/* Topic Discipine Filters */
.specimenTypeBlock {
    background-color: #bfedf2;
    border-radius: 12px;
    height: 110px;
    cursor: pointer;
    transition: 0.3s;
}

.specimenTypeBlock:hover {
    background-color: #95e1e9;
}

.specimenTypeCheckbox {
    -ms-transform: scale(1.2);
    /* IE */
    -moz-transform: scale(1.2);
    /* FF */
    -webkit-transform: scale(1.2);
    /* Safari and Chrome */
    -o-transform: scale(1.2);
    /* Opera */
    transform: scale(1.2);
    padding: 10px;
}

.specimenTypeAmount {
    font-size: 20px;
    font-weight: 500;
}

.specimenTypeHumanMade {
    background-color: #AED0E3;
}

.specimenTypeHumanMade:hover {
    background-color: #8dbcd8;
}

.specimenTypeUnclassified {
    background-color: #A1D8CA;
}

.specimenTypeUnclassified:hover {
    background-color: #81cab8;
}

.specimenTypeSpecialSubTitle {
    font-size: 14px;
}

.specimenTypeSpecialCheckbox {
    -ms-transform: scale(1.3);
    /* IE */
    -moz-transform: scale(1.3);
    /* FF */
    -webkit-transform: scale(1.3);
    /* Safari and Chrome */
    -o-transform: scale(1.3);
    /* Opera */
    transform: scale(1.3);
    padding: 10px;
}

/* Global Search Bar */
.searchBar {
    height: 40px;
    border-color: var(--grey);
}

.searchBar::placeholder {
    font-style: italic;
    color: var(--greyDark);
}

/* Advanced Search */
.advancedSearchToggle:after {
    display: block;
    content: '';
    border-bottom: solid 3px var(--accent);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    transform-origin: 0% 50%;
}

.advancedSearchToggle:hover:after {
    transform: scaleX(1);
}

.notFound {
    opacity: 0;
    color: var(--denied);
    font-weight: 400;
    transition: 0.4s;
}

.notFound.active {
    opacity: 100;
}