/* Style for Home Page */

.home_mainTitle {
    border-left: 2px solid var(--main-color-dark);
}

.home_introText {
    font-size: 16px;
}

.home_fullWidthBackground {
    margin-left: -11%;
    margin-top: -2%;
    width: 100vw !important;
    height: 104%;
}


/* Recent Annotations */

.recentAnnotationTitle {
    font-size: 18px;
}

.recentAnnotationIcon {
    top: 0;
    left: 0;
    font-size: 70px;
    color: #b3b3b3;
    opacity: 0.7;
    transform: rotate(45deg);
}

.recentAnnotationIcon.active {
    color: white;
}

.recentAnnotationBackground {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-left: -100%;
    background-color: var(--main-color);
    transition: 0.4s;
}

.recentAnnotationBackground.active {
    margin-left: 0;
}

.recentAnnotationGo {
    opacity: 0;
    background-color: white;
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
    right: 0;
    top: 0;
    bottom: 0;
    width: 15%;
    margin-top: -3%;
    height: 160%;
}

.recentAnnotationGo.active {
    opacity: 1;
}

.recentAnnotationGoText {
    opacity: 0;
    font-weight: bold;
    color: #333333;
    position: absolute;
    height: fit-content;
    width: 100%;
    text-align: center;
    font-size: 18px;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: 0.3s;
}

.recentAnnotationGoText.active {
    opacity: 1;
}

.recentAnnotationOverviewButton {
    font-size: 18px;
    transition: 0.4s;
}

.recentAnnotationOverviewButton:hover {
    background-color: white;
    color: #333333 !important;
}


/* MIDS */

.home_midsTitleBlock {
    font-size: 18px;
}

.home_midsArrows {
    font-size: 20px;
}


/* Sample Specimen Section */

.home_sampleSpecimenImage {
    height: 200px;
    opacity: 0.75;
    transition: 0.2s;
}

.home_sampleSpecimenImage.active {
    opacity: 1;
}

.home_sampleSpecimenImageCover {
    top: 40%;
    bottom: 50%;
    width: 60%;
    margin-left: 20% !important;
    height: 40px;
    line-height: 40px;
    opacity: 0;
    transition: 0.2s;
}

.home_sampleSpecimenImageCover.active {
    opacity: 0.7;
    font-weight: bold;
}


/* Oblique Banner */

.obliqueBanner {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 0;
    border-bottom: 3px solid var(--main-color-dark);
}

.obliqueBannerShadow {
    z-index: 1;
    position: absolute;
    height: 450px;
    width: 100%;
    top: 0;
    background-color: rgba(51, 51, 51, 0.2);
}

.obliqueHeadDiv {
    height: 450px;
    position: relative;
    overflow: hidden;
    background-color: black;
}

.obliqueDivOne {
    position: absolute;
    background-color: black;
    -webkit-box-shadow: -2px 4px 10px -1px #000000;
    box-shadow: -2px 4px 10px -1px #000000;
    overflow: hidden;
    content: '';
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    margin-left: -18%;

    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;

    -webkit-transform: skewX(-30deg);
    -ms-transform: skewX(-30deg);
    transform: skewX(-25deg);
}

.obliqueDivOneImage {
    width: 120%;
    height: 100%;
    margin-left: -5%;
    -webkit-transform: skewX(30deg);
    -ms-transform: skewX(30deg);
    transform: skewX(25deg);
}

.obliqueDivTwo {
    position: absolute;
    background-color: black;
    -webkit-box-shadow: -2px 4px 10px -1px #000000;
    box-shadow: -2px 4px 10px -1px #000000;
    overflow: hidden;
    content: '';
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    margin-left: 7%;

    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;

    -webkit-transform: skewX(-30deg);
    -ms-transform: skewX(-30deg);
    transform: skewX(-25deg);
}

.obliqueDivTwoImage {
    width: 180%;
    height: 100%;
    margin-left: -40%;
    -webkit-transform: skewX(30deg) scaleX(-1);
    -ms-transform: skewX(30deg) scaleX(-1);
    transform: skewX(25deg) scaleX(-1);
}

.obliqueDivThree {
    position: absolute;
    background-color: black;
    -webkit-box-shadow: -2px 4px 10px -1px #000000;
    box-shadow: -2px 4px 10px -1px #000000;
    overflow: hidden;
    content: '';
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    margin-left: 32%;

    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;

    -webkit-transform: skewX(-30deg);
    -ms-transform: skewX(-30deg);
    transform: skewX(-25deg);
}

.obliqueDivThreeImage {
    width: 160%;
    height: 100%;
    margin-left: -25%;
    -webkit-transform: skewX(30deg) scaleX(-1);
    -ms-transform: skewX(30deg) scaleX(-1);
    transform: skewX(25deg) scaleX(-1);
}

.obliqueDivFour {
    position: absolute;
    background-color: black;
    -webkit-box-shadow: -2px 4px 10px -1px #000000;
    box-shadow: -2px 4px 10px -1px #000000;
    overflow: hidden;
    content: '';
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    margin-left: 57%;

    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;

    -webkit-transform: skewX(-30deg);
    -ms-transform: skewX(-30deg);
    transform: skewX(-25deg);
}

.obliqueDivFourImage {
    width: 150%;
    height: 100%;
    margin-left: -25%;
    -webkit-transform: skewX(30deg);
    -ms-transform: skewX(30deg);
    transform: skewX(25deg);
}

.obliqueDivFive {
    position: absolute;
    background-color: black;
    -webkit-box-shadow: -2px 4px 10px -1px #000000;
    box-shadow: -2px 4px 10px -1px #000000;
    overflow: hidden;
    content: '';
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    margin-left: 82%;

    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;

    -webkit-transform: skewX(-30deg);
    -ms-transform: skewX(-30deg);
    transform: skewX(-25deg);
}

.obliqueDivFiveImage {
    width: 120%;
    height: 100%;
    margin-left: -45%;
    -webkit-transform: skewX(30deg);
    -ms-transform: skewX(30deg);
    transform: skewX(25deg);
}