/* Custom styling for Header Component */

.header {
    min-height: 4.5em;
}

.header.home {
    position: fixed;
    background-color: #F9FAFC;
    top: 0;
}

/* Navigation */
.navItem {
    border-bottom: 2px solid #F9FAFC;
}

.navItemActive {
    border-bottom: 2px solid var(--secondary);
}

.navItem:after {
    display: block;
    content: '';
    border-bottom: 2px solid var(--secondary);
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
}

.navItem:hover:after {
    transform: scaleX(1);
}

/* Intro.js */
.introIcon {
    font-size: 20px;
}

.introTopics {
    min-width: 250px;
}

.introTopicItem:hover {
    background-color: var(--grey);
}

/* Login */
.loginButton {
    background-color: transparent;
    border: 1px solid transparent;
    transition: 0.3s;
}

.loginButton:hover {
    cursor: pointer;
    border: 1px solid var(--secondary);
}

/* Languages */
.languagesSelect {
    background-color: transparent;
}

/* Collapse Menu */
.collapseMenu {
    width: 60%;
    margin-right: -65%;
    border-bottom-left-radius: 40px;
}

.collapseMenu.active {
    margin-right: 0;
}