/* Custom styling for Header Component */

.header {
    height: 80px;
}

.header.home {
    position: fixed;
    background-color: #F9FAFC;
    top: 0;
}

.title {
    color: var(--primary)
}

/* Navigation */
.navItem {
    font-size: 17px;
    border-bottom: 2px solid white;
    cursor: pointer;
}

.navItemActive {
    font-size: 17px;
    border-bottom: 2px solid var(--secondary);
}

.navItem:after {
    display: block;
    content: '';
    border-bottom: 2px solid var(--secondary);
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
}

.navItem:hover:after {
    transform: scaleX(1);
}

/* Login */
.loginButton {
    font-size: 17px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: 0.3s;
}

.loginButton:hover {
    cursor: pointer;
    border: 1px solid var(--secondary);
}

/* Languages */
.languagesSelect {
    border: none;
    background-color: transparent;
}