/* Annotate Overview Page */

.annotate_content {
    height: calc(100vh - 160px);
}

.annotate_overviewTitle {
    font-size: 20px;
}


/* Annotattion Filters */

.annotate_annotationFilterTab {
    border: 1px solid var(--main-color-darker);
}