/* Annotate Overview Page */

.annotate_overviewTitle {
    font-size: 16px;
}


/* Annotation Table */

.annotate_tableHeader {
    font-size: 14px;
}

.annotate_tableRow {
    font-size: 14px;
}

.annotate_tableRow:hover {
    background-color: var(--main-color-light);
    cursor: pointer;
}


/* Annotattion Filters */



/* Annotation Statistics */

.annotate_statisticsSection {
    height: 200px;
    background-color: var(--greyLight);
}