/* Custom styling for the header component */

/* Navigation */
.navItem {
    border-bottom: 2px solid #F9FAFC;
}

.navItem.active {
    border-color: var(--secondary);
}

.navItem:not(.active):after {
    display: block;
    content: '';
    border-bottom: 2px solid var(--secondary);
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
}

.navItem:hover:after {
    transform: scaleX(1);
}