/* Custom styling for the notification component */
.success {
    background-color: var(--secondary);
}

.error {
    background-color: var(--error);
}

.loadingBar {
    height: 4px;
    animation: progressAnimation 6s;
}

@keyframes progressAnimation {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}