.digital-specimen-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--spacing-l);

	#ds-right-column, #ds-left-column {
		.digital-specimen-card {
			margin-block-end: var(--spacing-l);
			padding: var(--spacing-m);

			.ds-card-header {
				display: flex;
				justify-content: space-between;
				align-items: center;

				h2 {
					font-size: var(--md-font-size);
					margin: 0;
				}
			}
		}
	}
}