/* Custom styling for digital specimen page */

.sidePanel {
    height: 100vh;
    width: Calc(100% / 3);
}

/* Title Bar */
.digitalMediaTitle {
    font-size: 1.875rem;
}

.digitalMediaIcon {
    height: 2rem;
}

/* ID Card */
.IDCard {
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.IDCardIdentifier {
    height: 6%;
}

.IDCardPropertyBlock {
    max-height: Calc(100% / 8);
}

.IDCardPropertyBlockHover:hover {
    background-color: var(--greyLight);
    cursor: pointer;
}

/* Media List */
.digitalMediaListBlock {
    height: 20%;
}

.digitalMediaList {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.digitalMediaListItem {
    width: 20%;
}

.digitalMediaListItem.hover {
    cursor: pointer;
}

.digitalMediaListItemTitle {
    height: fit-content;
}

.digitalMediaListItemIcon {
    font-size: 30px;
}

.mediaListItemImage.hover {
    background-color: white;
    opacity: 0.8;
}

.mediaListItemText.active {
    display: initial;
    color: white;
}