/* Custom styling for digital specimen page */

.content {
    height: calc(100vh - 140px)
}

.sidePanel {
    height: 100vh;
    width: Calc(100% / 3);
}


/* Title Bar */
.title {
    font-size: 28px;
}

.titleBarIcon {
    font-size: 30px;
    color: var(--primary);
}

/* ID Card */
.IDCard {
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.IDCardBackground {
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0.375rem;
}

.IDCardTitle {
    font-size: 15px;
    color: var(--secondary);
}

.IDCardIdentifier {
    height: 6%;
}

.IDCardProperties {
    height: 94%;
}

.IDCardPropertyBlock {
    font-size: 14px;
    max-height: Calc(100% / 8);
}

.IDCardPropertyBlockHover {
    transition: 0.4s;
}

.IDCardPropertyBlockHover:hover {
    background-color: var(--main-color-light);
    cursor: pointer;
}

.IDCardValue {
    font-size: 15px;
}

/* Media Frame */
.digitalMediaFrame {
    background-color: var(--grey);
    border-radius: 8px;
    overflow: hidden;
}

/* Media List */
.digitalMediaListBlock {
    height: 20%;
}

.digitalMediaList {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: white;
    border-radius: 8px;
}

.digitalMediaListItem {
    height: 100%;
    width: 20%;
    display: inline-block;
    background-color: var(--grey);
    overflow: hidden;
}

.digitalMediaListItem.hover {
    cursor: pointer;
}

.digitalMediaListItemImage {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.digitalMediaListItemTitle {
    height: fit-content;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    color: white;
}

.digitalMediaListItemIcon {
    font-size: 30px;
}

.mediaListItemImage.hover {
    background-color: white;
    opacity: 0.8;
}

.mediaListItemText.active {
    display: initial;
    color: white;
}


/* Media Attributes */

.digitalMedia_attributeBlock {
    font-size: 14px;
    transition: 0.4s;
    cursor: pointer;
}

.digitalMedia_attributeBlock:hover {
    background-color: var(--greyLight);
}


/* Media Annotations */

.digitalMedia_annotationsBlock {
    font-size: 14px;
}

.digitalMedia_annotationsBlockHeader {
    background-color: var(--greyLight);
    font-size: 14px;
}

.digitalMedia_annotationsBlockRow {
    transition: 0.4s;
    cursor: pointer;
}

.digitalMedia_annotationsBlockRow:hover {
    background-color: var(--main-color-light);
}


/* Media Modal */

.digitalMedia_modal .modal-dialog {
    height: 100%;
    margin: 0 auto !important;
}

.digitalMedia_modal .modal-content {
    background-color: rgba(255, 255, 255, 0);
    height: 84.8%;
    overflow: hidden;
    padding-top: 11.2%;
    border: none;
}


/* Media Modal Menu */

.digitalMedia_modalMenuTitle {
    height: 41px;
    line-height: 41px;
}

.digitalMedia_modalCloseButton {
    cursor: pointer;
}


/* Media Modal Classes From Image Annotation Library */

.hAjSKD {
    height: Calc(100% - 41px);
}

.dCXmIN {
    height: 100%;
}