/* Custom styling for Annotations Page */

.annotate_overviewTitle {
    font-size: 16px;
}

/* Annotation Table */

.annotate_tableHeader {
    font-size: 14px;
}

.annotate_tableRow {
    font-size: 14px;
}

.annotate_tableRow:hover {
    background-color: var(--main-color-light);
    cursor: pointer;
}

/* Annotation Statistics */

.annotate_statisticsSection {
    height: 200px;
    background-color: var(--greyLight);
}


/* Custom styling for annotation components on Specimen Page */


/* Annotate Sections */

.annotate_annotateSection {
    border-left: 1px solid var(--main-color);
}

.annotate_annotateSectionTitle {
    font-size: 15px;
    cursor: pointer;
}

.annotate_annotateSectionTitleIcon {
    transition: 0.4s;
}

.annotate_annotateSectionTitleIcon.active {
    transform: rotate(180deg);
}

.annotate_annotateSectionRow {
    height: 0;
}

.annotate_annotateSectionRow.active {
    height: auto;
}

.annotate_annotateItem {
    transition: 0.4s;
    cursor: default;
}

.annotate_annotateItem:hover {
    background-color: #e6e6e6;
}

.annotate_annotateProperty {
    font-size: 14px;
}

.annotate_annotateIndication {
    font-size: 13px;
    height: fit-content;
}


/* Annotate modal general */

.annotate_modal .modal-dialog {
    height: 100%;
    margin: 0 auto !important;
}

.annotate_modal .modal-content {
    background-color: rgba(255, 255, 255, 0);
    height: 84.8%;
    overflow: hidden;
    padding-top: 11.2%;
    border: none;
}

.annotate_modalFormSection {
    display: none;
}

.annotate_modalFormSection.active {
    display: block;
}

.annotate_modalHeader {
    height: 50px;
    width: fit-content;
}

.annotate_modalHeaderTitle {
    font-size: 20px !important;
}

.annotate_modalHeaderButton {
    height: 30px;
    margin-top: 20px;
    right: 0;
    top: 0;
}

.annotate_modalBody {
    height: Calc(100% - 50px);
}

.annotate_modalBody.right {
    margin-top: 50px !important;
}


/* Annotate modal annotations */

.annotate_modalCurrentValue {
    height: 40px;
}

.annotate_modalAnnotationsBody {
    height: Calc(100% - 40px);
    scroll-behavior: smooth;
}

.annotate_modalAddAnnotationButton {
    height: 30px;
    line-height: 30px;
    transition: 0.4s;
    cursor: pointer;
}

.annotate_modalAddAnnotationButton:hover {
    background-color: var(--main-color-dark);
    color: white;
}

.annotate_annotationMessageType {
    font-size: 14px;
}

.annotate_annotationMessageVersion {
    font-size: 14px;
}

.annotate_annotationMessageBlock {
    background-color: var(--greyXLight);
}

.annotate_annotationMessageBlock.me {
    background-color: var(--main-color-light);
}

.annotate_annotationMessageBlock.edit {
    background-color: var(--main-color-green);
    color: white;
}

.annotate_annotationMessage {
    font-size: 14px;
    transition: 0.4s;
}

.annotate_annotationMessage.edit {
    background-color: #404040;
    color: white
}

.annotate_annotationDate {
    font-size: 12px;
    color: var(--greyDark);
}


/* Annotate modal forms */

.annotate_annotationTypeSelect {
    min-width: 70%;
}

.annotate_annotationTypeContext {
    font-size: 13px;
}

.annotate_annotationTypeFieldTitle {
    font-size: 15px;
}

.annotate_annotationTypeField {
    font-size: 14px;
}

.annotate_annotationTypeTextArea {
    resize: none;
    font-size: 14px;
}

.annotate_annotationTypeSubmit {
    background-color: white;
    font-size: 15px;
    transition: 0.4s;
}

.annotate_annotationTypeSubmit:hover {
    background-color: var(--main-color-dark);
    color: white;
}

.annotate_annotationTypeRemove {
    background-color: white;
    border: 2px solid var(--denied);
    font-size: 15px;
    transition: 0.4s;
}

.annotate_annotationTypeRemove:hover {
    background-color: var(--denied);
    color: white;
}

.annotate_annotationTypeMultipleAdd {
    font-size: 13px;
    background-color: var(--grey);
}