/* Custom Styling for Annotate page */

.annotateContent {
    height: Calc(100vh - 140px) !important;
}

.title {
    font-size: 24px;
}

/* Overview Annotations Table */
.table {
    border: 1px solid var(--secondary);
    border-radius: 8px;
}

/* Side Panel */
.sidePanel {
    width: 33.33%;
    background-color: #F9FAFC;
    z-index: 1000;
    margin-right: -45%;
    transition: 0.6s;
    -webkit-box-shadow: -5px 0px 14px -2px rgba(166, 166, 166, 1);
    -moz-box-shadow: -5px 0px 14px -2px rgba(166, 166, 166, 1);
    box-shadow: -5px 0px 14px -2px rgba(166, 166, 166, 1);
}

.sidePanel.active {
    margin-right: 0;
}

.sidePanelTopIcon {
    font-size: 22px;
}

.sidePanelTopStripe {
    border: 2px solid var(--secondary);
}

.sidePanelMotivation {
    font-size: 15px;
    background-color: var(--primary);
    color: white;
    border-radius: 999px;
}

.sidePanelAnnotation {
    background-color: white;
    border: 1px solid #E6E2F1;
    font-size: 14px;
    border-radius: 8px;
    transition: 0.5s;
}

.sidePanelAnnotation.highlight {
    background-color: #A1D8CA;
}

/* Annotation Form */
.annotationForm {
    border-top: 1px solid #E6E2F1;
}

.annotationFormTitle {
    font-size: 18px;
}