/* Custom styling for Annotations Page */

.annotate_overviewTitle {
    font-size: 16px;
}

/* Annotation Table */

.annotate_tableHeader {
    font-size: 14px;
}

.annotate_tableRow {
    font-size: 14px;
}

.annotate_tableRow:hover {
    background-color: var(--main-color-light);
    cursor: pointer;
}

/* Annotation Statistics */

.annotate_statisticsSection {
    height: 200px;
    background-color: var(--greyLight);
}


/* Custom styling for annotation components on Specimen Page */


/* Annotate Sections */

.annotate_annotateSection {
    border-left: 1px solid var(--main-color);
}

.annotate_annotateSectionTitle {
    font-size: 15px;
    cursor: pointer;
}

.annotate_annotateSectionTitleIcon {
    transition: 0.4s;
}

.annotate_annotateSectionTitleIcon.active {
    transform: rotate(180deg);
}

.annotate_annotateSectionRow {
    height: 0;
}

.annotate_annotateSectionRow.active {
    height: auto;
}

.annotate_annotateItem {
    transition: 0.4s;
    cursor: default;
}

.annotate_annotateItem:hover {
    background-color: #e6e6e6;
}

.annotate_annotateProperty {
    font-size: 14px;
}

.annotate_annotateIndication {
    font-size: 13px;
    height: fit-content;
}