/* Custom styling for the Search Page */

.content {
    height: Calc(100vh - 200px);
}

/* Search Menu */
.searchMenu {
    left: 0;
    background-color: var(--main-color-light);
}

/* Filter Menu */
.filterMenu {
    height: calc(100vh - 220px);
    overflow: scroll;
    -webkit-box-shadow: 10px 10px 29px -13px rgba(51, 51, 51, 0.83);
    box-shadow: 10px 10px 29px -13px rgba(51, 51, 51, 0.83);
}

.filterTitle {
    font-size: 14px;
}

.filterSelectedList {
    background-color: var(--main-color);
}

.filterSelectOption {
    transition: 0.2s;
    cursor: pointer;
}

.filterSelectOption:hover {
    background-color: var(--greyDark);
}

.filterListItem {
    font-size: 13px;
}

.filterAggregation {
    font-size: 13px;
}