/* Custom styling for the Search Page */

.content {
    height: calc(100vh - 140px)
}

.filtersTopBar {
    height: 50px;
}

.compareButton {
    font-size: 15px;
    background-color: #A1D8CA;
    border: none;
    border-radius: 999px;
}

.searchContent {
    height: Calc(100% - 50px);
}

.searchPageBlock {
    transition: 0.4s;
}

/* Search Menu */
.searchMenu {
    border: 1px solid var(--grey);
    border-radius: 8px;
    scrollbar-gutter: stable both-edges;
    overflow-y: scroll;
}

.searchBlock {
    background-color: var((--primary));
}

.searchBar {
    border-radius: 8px;
}

.searchBar::placeholder {
    font-style: italic;
}

.searchBarIcon {
    margin: 2px 0px 0px -28px;
}

/* Filter Menu */
.filtersCloseIcon {
    cursor: pointer;
}

.filterBlock {
    border: 1px solid var(--primary);
    border-radius: 8px;
}

.filterTitle {
    font-size: 14px;
}

.filterSearchBlock {
    border: 1px solid var(--primary);
    border-radius: 999px;
}

.filterSearch {
    font-size: 14px;
    border-radius: 999px;
    border: none;
}

.filterSelectOption {
    border-radius: 8px;
    transition: 0.2s;
    cursor: pointer;
}

.filterSelectOption:hover {
    background-color: var(--grey);
}

.filterSelectOption.active:hover {
    background-color: #c7c7d1;
}

.filterSelectOption.active {
    background-color: var(--grey);
}

.filterListItem {
    font-size: 13px;
}

.filterAggregation {
    font-size: 13px;
}

.filterMidsOption {
    transition: 0.3s;
    cursor: pointer;
    font-size: 14px;
    border: 1px solid var(--primary);
    border-radius: 4px;
}

.filterMidsOption:hover {
    color: white;
    background-color: var(--primary);
}

.filterMidsOption.active {
    color: white;
    background-color: var(--primary);
}

/* Active Filters */
.activeFilters {
    height: 32px;
    overflow: hidden;
    z-index: 2;
    background-color: #F9FAFC;
}

.activeFilters.active {
    height: max-content;
    overflow: visible;
    border-bottom: 1px solid var(--primary);
    border-right: 1px solid var(--primary);
}

.activeFiltersDropdownButton {
    background-color: var(--primary) !important;
    color: white;
}

.activeFilter {
    font-size: 13px;
    background-color: white;
    border: 2px solid var(--primary);
    border-radius: 999px;
}

.activeFilterIcon {
    font-size: 12px;
    cursor: pointer;
}

/* Search Results */
.searchResults {
    height: Calc(100% - 40px);
}

.table {
    border: 1px solid var(--secondary);
    border-radius: 8px;
}

.paginator {
    height: 40px;
}

.resultCount {
    border: 1px solid var(--main-color-darker);
    height: fit-content;
    font-size: 15px;
}

.returnButton {
    background-color: var(--primary);
    color: white;
    border: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 30px;
    margin-top: -25px;
}

/* ID Card */
.IDCard {
    height: Calc(100% - 90px);
}

.IDCardIcon {
    font-size: 25px;
    color: var(--primary);
}

.IDCardTitle {
    font-size: 22px;
}

.IDCardCloseIcon {
    cursor: pointer;
}

.IDCardId {
    font-size: 14px;
    color: var(--greyDark);
}

.midsTitle {
    font-size: 14px;
    color: var(--accent);
}

.midsBlock {
    color: #BDEBF0;
    transition: 0.3s;
}

.midsBlock.active {
    color: var(--accent);
    text-decoration: underline;
}

.midsInfoIcon {
    font-size: 20px;
    color: var(--accent);
}

.IDCardProperty {
    font-size: 15px;
}

.digitalMediaBlock {
    height: 40%;
}

.digitalMediaSlider {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.digitalMediaItem {
    border-radius: 8px;
}

.buttonBlock {
    height: 60px;
}

.specimenButton {
    height: 35px;
    border: none;
    background-color: var(--primary);
    color: white;
    font-size: 14px;
    border-radius: 999px;
    transition: 0.4s;
}

.specimenButton:hover {
    background-color: var(--accent);
}