/* Custom styling for the Search Page */

.searchContent {
    height: calc(100vh - 208px)
}

.searchPageBlock {
    transition: 0.4s;
}

/* Search Menu */
.searchMenu {
    border: 1px solid var(--grey);
}

.searchBlock {
    background-color: var((--primary));
}

.searchBar {
    border-radius: 8px;
}

.searchBar::placeholder {
    font-style: italic;
}

/* Filter Menu */
.filterMenu {
    height: calc(100vh - 220px);
    overflow: scroll;
    -webkit-box-shadow: 10px 10px 29px -13px rgba(51, 51, 51, 0.83);
    box-shadow: 10px 10px 29px -13px rgba(51, 51, 51, 0.83);
}

.filterTitle {
    font-size: 14px;
}

.filterSelectedList {
    background-color: var(--main-color);
}

.filterSelectOption {
    transition: 0.2s;
    cursor: pointer;
}

.filterSelectOption:hover {
    background-color: var(--greyDark);
}

.filterListItem {
    font-size: 13px;
}

.filterAggregation {
    font-size: 13px;
}

/* Search Results */
.searchResults {
    height: Calc(100% - 40px);
}

.table {
    border: 1px solid var(--secondary);
    border-radius: 8px;
}

.paginator {
    height: 40px;
}

.returnButton {
    background-color: var(--primary);
    color: white;
    border: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 30px;
    margin-top: -25px;
}

/* ID Card */
.IDCard {
    height: Calc(100% - 40px);
}

.IDCardTop {
    height: 45%;
}

.IDCardBottom {
    height: 55%;
}

.IDCardIcon {
    font-size: 25px;
    color: var(--primary);
}

.IDCardTitle {
    font-size: 22px;
}

.IDCardId {
    font-size: 14px;
    color: var(--greyDark);
}

.midsBar {
    background-color: #d4f3f7;
    height: 15px;
    border-radius: 999px;
}

.midsProgressionLevel {
    background-color: var(--accent);
    width: 15%;
    transition: 1s;
    border-radius: 999px;
}

.midsTitle {
    font-size: 18px;
    color: var(--accent);
}

.IDCardProperty {
    font-size: 15px;
}

.geoLocationBlock {
    height: Calc(100% - 60%);
}

.digitalMediaBlock {
    height: Calc(100% - 40% - 70px);
}

.digitalMediaSlider {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.digitalMediaItem {
    border-radius: 8px;
}

.buttonBlock {
    height: 60px;
}

.specimenButton {
    height: 35px;
    border: none;
    background-color: var(--primary);
    color: white;
    font-size: 14px;
    border-radius: 999px;
    transition: 0.4s;
}

.specimenButton:hover {
    background-color: var(--accent);
}