.promptMessage {
    width: 400px;
    z-index: -1;
}

.error {
    background-color: rgb(231, 76, 60, 0.8) !important;
}

.success {
    background-color: rgb(40, 167, 69, 0.8) !important;
}

.promptMessage.active {
    display: block !important;
    opacity: 1 !important;
    z-index: 1000;
}

.loadingBar {
    height: 4px;
    animation: progressAnimation 6s;
}

@keyframes progressAnimation {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}