/* Declaring global variables */
:root {
  --primary: #4d59a2;
  --secondary: #51a993;
  --accent: #28bacb;
  --main-color: #0C86C6;
  --main-color-light: #d6e0f5;
  --main-color-dark: #1c497d;
  --alt-color-1: #00BAAF;
  --alt-color-2: #00BED1;
  --alt-color-3: #0099B9;
  --main-color-green: #009973;

  --greyXLight: #F4F4F1;
  --greyLight: #E9E8E3;
  --grey: #D9D9DF;
  --greyMedium: #B4B4BF;
  --greyDark: #868696;

  --new: #10C1FF;
  --handled: #F7A112;
  --approved: #3DCA77;
  --denied: #E74C3C;
  --resolved: var(--greyMedium);
}

html {
  font-size: 16px;
  background-color: #F9FAFC;
}

body {
  overflow: hidden;
  margin: 0;
}

.root {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
}

.icon {
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

a {
  margin: 0 !important;
  padding: 0 !important;
  color: inherit !important;
  text-decoration: none !important;
}

p {
  margin: 0;
}

.textOverflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Scroll Bars */

/* width */
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* Custom additional styling */

/* Width */
.w-0 {
  width: 0px;
}

/* Color */

.c-primary {
  color: var(--primary) !important;
}

.c-secondary {
  color: var(--secondary) !important;
}

.c-accent {
  color: var(--accent) !important;
}

.c-backdrop {
  color: #404040;
}

/* Font Weight */
.fw-lightBold {
  font-weight: 500;
}

/* Background */

.bg-main {
  background-color: #F9FAFC;
}

.bg-primary-blue {
  background-color: var(--main-color);
}

.bg-primary-light {
  background-color: var(--main-color-light);
}

.bg-primary-dark {
  background-color: var(--main-color-dark);
}

.bg-green {
  background-color: var(--main-color-green);
}

.bg-backdrop {
  background-color: #404040;
}

/* Border */

.border-b {
  border: 1px solid #333333;
}

.border-1-primary {
  border: 1px solid var(--primary);
}

.border-1-primary-light {
  border: 1px solid var(--main-color-light);
}

.border-1-primary-dark {
  border: 1px solid var(--main-color-dark);
}

.border-2-primary-dark {
  border: 2px solid var(--main-color-dark);
}

.border-l-1-primary {
  border-left: 1px solid var(--main-color);
}

.border-l-1-primary-dark {
  border-left: 1px solid var(--main-color-dark);
}

.border-l-2-primary-dark {
  border-left: 2px solid var(--main-color-dark);
}

.border-t-1-primary {
  border-top: 1px solid var(--main-color);
}

.border-t-1-primary-dark {
  border-top: 1px solid var(--main-color-dark);
}

.border-t-2-primary-dark {
  border-top: 2px solid var(--main-color-dark);
}

.border-r-1-primary {
  border-right: 1px solid var(--main-color);
}

.border-r-1-primary-dark {
  border-right: 1px solid var(--main-color-dark);
}

.border-r-2-primary-dark {
  border-right: 2px solid var(--main-color-dark);
}

.border-b-1-primary {
  border-bottom: 1px solid var(--main-color);
}

.border-b-1-primary-dark {
  border-bottom: 1px solid var(--main-color-dark);
}

.border-b-2-primary-dark {
  border-bottom: 2px solid var(--main-color-dark);
}

/* Border radius */

.br-tl {
  border-top-left-radius: 8px;
}

.br-tr {
  border-top-right-radius: 8px;
}

.br-bl {
  border-bottom-left-radius: 8px;
}

.br-br {
  border-bottom-right-radius: 8px;
}

.rounded-c {
  border-radius: 8px;
}

/* Z-index */

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

/* Shadow */

.shadow-c {
  -webkit-box-shadow: 5px 2px 11px 2px rgba(0, 0, 0, 0.54);
  box-shadow: 5px 2px 11px 2px rgba(0, 0, 0, 0.54);
}

/* Hover underline */
.h-underline:hover {
  text-decoration: underline !important;
}

/* Transition */
.transition {
  transition: 0.4s;
}

/* Cursor */
.c-pointer {
  cursor: pointer;
}


/* Custom Component Styling */

.primaryButton {
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 999px;
  transition: 0.4s;
  font-weight: 500;
}

.primaryButton:hover {
  background-color: var(--accent);
}

.primaryButton.cancel {
  background-color: #CBCCD4;
}


/* Paginator */

.page-item {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.page-item.active {
  line-height: 28px;
  z-index: 0;
}

.page-link {
  height: 100%;
  width: 100%;
}


/* Bootstrap class overwrite */

li.page-item.active .page-link {
  background-color: var(--secondary);
  border: none;
}

.dropdown {
  padding-right: 0;
}

.dropdown-toggle {
  background-color: #F9FAFC !important;
  color: #333333 !important;
  border: 1px solid #F9FAFC !important;
}

.dropdown-toggle:hover {
  background-color: white !important;
  border: 1px solid var(--secondary) !important;
}


/* Mobile classes */
.mobileTitle {
  font-size: 60px;
  color: var(--primary)
}