/* Root Variables */
:root {
  --primary: #4d59a2;
  --secondary: #51a993;
  --accent: #28bacb;
  --greyXLight: #F4F4F1;
  --greyLight: #E9E8E3;
  --grey: #D9D9DF;
  --greyMedium: #B4B4BF;
  --greyDark: #868696;

  --new: #10C1FF;
  --handled: #F7A112;
  --approved: #3DCA77;
  --denied: #E74C3C;
  --deniedDark: #9f2214;
  --resolved: var(--greyMedium);
}

/* Global Styling */
html {
  height: 100vh;
  font-size: 0.85vw;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: #333333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F9FAFC;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.root {
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  position: fixed;
}

.icon {
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

a {
  margin: 0 !important;
  padding: 0 !important;
  color: inherit !important;
  text-decoration: none !important;
}

p {
  margin: 0;
}


/* Scroll Bars */

/* width */
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* Custom classes */

/* Width */
.w-0 {
  width: 0px;
}

/* Font sizes, default is 16px */
.fs-1 {
  font-size: 2.5rem !important;
}

.fs-2 {
  font-size: 1.5rem !important;
}

.fs-3 {
  font-size: 1.125rem !important;
}

.fs-4 {
  font-size: 0.875rem !important;
}

.fs-5 {
  font-size: 0.75rem !important;
}

/* Color */
.c-default {
  color: #333333;
}

.c-primary {
  color: var(--primary);
}

.c-secondary {
  color: var(--secondary);
}

.c-accent {
  color: var(--accent);
}

.c-white {
  color: white;
}

.c-grey {
  color: #ACAAD4;
}

.c-greyDark {
  color: var(--greyDark);
}

.c-backdrop {
  color: #404040;
}

.c-denied {
  color: var(--denied);
}

/* Font Weight */
.fw-lightBold {
  font-weight: 500;
}

/* Background */
.bgc-main {
  background-color: #F9FAFC;
}

.bgc-primary {
  background-color: var(--primary) !important;
}

.bgc-secondary {
  background-color: var(--secondary);
}

.bgc-accent {
  background-color: var(--accent);
}

.bgc-white {
  background-color: white;
}

.bgc-grey {
  background-color: var(--grey);
}

.bgc-greyLight {
  background-color: var(--greyLight);
}

/* Border */
.b-primary {
  border: 1px solid var(--primary);
}

.b-secondary {
  border: 1px solid var(--secondary);
}

.b-accent {
  border: 1px solid var(--accent);
}

.b-grey {
  border: 1px solid var(--grey);
}

/* Border radius */
.br-tl {
  border-top-left-radius: 8px;
}

.br-tr {
  border-top-right-radius: 8px;
}

.br-bl {
  border-bottom-left-radius: 8px;
}

.br-br {
  border-bottom-right-radius: 8px;
}

.rounded-c {
  border-radius: 8px;
}

.rounded-full {
  border-radius: 999px;
}

/* Z-index */
.z--1 {
  z-index: -1;
}

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

/* Shadow */
.shadow-c {
  -webkit-box-shadow: 5px 2px 11px 2px rgba(0, 0, 0, 0.54);
  box-shadow: 5px 2px 11px 2px rgba(0, 0, 0, 0.54);
}

/* Overflow */
.overflow-y-sroll {
  overflow-y: scroll !important;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

/* Text overflow */
.textOverflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Hover underline */
.h-underline:hover {
  text-decoration: underline !important;
}

/* Transition */
.transition {
  transition: 0.4s;
}

/* Cursor */
.c-pointer {
  cursor: pointer;
}


/* Global Components Styling */

.primaryButton {
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 999px;
  transition: 0.4s;
  font-weight: 500;
}

.primaryButton.active {
  background-color: var(--accent);
}

.primaryButton:hover {
  background-color: var(--accent);
}

.primaryButton.disabled {
  background-color: #A5ABD0;
}

.primaryButton.cancel {
  background-color: #CBCCD4;
}

.primaryButton.cancel:hover {
  background-color: #acadb9;
}

.secondaryButton {
  background-color: var(--secondary);
  color: white;
  border: none;
  border-radius: 999px;
  transition: 0.4s;
  font-weight: 500;
}

.secondaryButton:hover {
  background-color: var(--accent);
}

.accentButton {
  background-color: var(--accent);
  color: white;
  border: none;
  border-radius: 999px;
  transition: 0.4s;
  font-weight: 500;
}

.accentButton:hover {
  background-color: var(--secondary);
}

.removeButton {
  background-color: var(--denied);
  color: white;
  border: none;
  border-radius: 4px;
  transition: 0.4s;
  font-weight: 500;
}

.removeButton:hover {
  background-color: var(--deniedDark);
}

.formField {
  border: 1px solid var(--grey);
  border-radius: 8px;
}

.formFieldTitle {
  font-size: 15px;
  font-weight: 500;
}


/* Paginator */

.page-item {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.page-item.active {
  line-height: 28px;
  z-index: 0;
}

.page-link {
  height: 100%;
  width: 100%;
}

.pagination {
  padding: 0;
  margin: 0;
}

/* React Tabs overwrite */
.tabsList {
  padding: 0;
}

.tab {
  background-color: #E6E2F1;
  border-radius: 999px;
  font-size: 0.875rem;
  padding-left: 2%;
  padding-right: 2%;
  margin-right: 1%;
}

.tab.active {
  background-color: var(--primary);
  color: white;
  font-weight: bold;
}

/* Media Modal Classes From Image Annotation Library */
.hAjSKD {
  height: Calc(100% - 41px);
}

.dCXmIN {
  height: 100%;
}

/* Bootstrap class overwrite */
li.page-item.active .page-link {
  background-color: var(--secondary);
  border: none;
}

.dropdown {
  padding-right: 0;
}

.dropdown-toggle {
  background-color: #F9FAFC !important;
  color: #333333 !important;
  border: 1px solid #F9FAFC !important;
}

.dropdown-toggle:hover {
  background-color: white !important;
  border: 1px solid var(--secondary) !important;
}

/* Annotorious class overwrite */
.a9s-annotationlayer {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* Mobile classes */
.mobileTitle {
  font-size: 60px;
  color: var(--primary)
}