@use "styles/mixins.scss" as *;

/* Button separated from -digital-media-card-image because it is an optional component */
button {
    display: block;
    border: none; 
}

.digital-media-card-image {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: var(--spacing-sm);
    object-fit: cover;

    &.fullView {
        aspect-ratio: auto; 
        max-width: 100%;
        max-height: 90vh;
        object-fit: contain;
    }
}

.image-placeholder {
    display: flex;
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;
    background-color: var(--neutral-10, #f0f0f0);
}