/* Styling for Profile page */


/* User information */

.profile_profileBlock {
    padding: 2%;
    background-color: var(--main-color-light);
}

.profile_profilePicture {
    width: 80px;
}

.profile_username {
    font-size: 25px;
}

.profile_titleOrganization {
    font-size: 30px;
}


/* User statistics */

.profile_userStatistic {
    border: 2px solid #333333;
}

.profile_testGraph {
    width: 70%;
}


/* Profile annotations and curations */

.profile_annotation {
    font-size: 15px;
    height: 140px;
    border: 1px solid var(--main-color-darker);
}

.profile_annotationType {
    background-color: var(--main-color-darker);
    color: white;
    font-weight: bold;
}

.profile_annotationSpecimenType {
    background-color: var(--main-color-light);
    width: fit-content;
    padding: 5px 10px 5px 10px;
    position: absolute;
    right: 0;
    margin-right: 12px;
    border-bottom-left-radius: 5px;
}

.profile_annotationImage {
    height: 100%;
    width: auto;
}