/* Styling for Profile page */


/* Profile information */

.profile_profileBlock {
    padding: 2%;
    background-color: var(--main-color-light);
}


/* Profile annotations and curations */

.profile_contentTab {
    background-color: #d9d9d9;
    cursor: pointer;
}

.profile_contentTab.active {
    background-color: var(--main-color);
    cursor: default;
}

.profile_content {
    background-color: var(--main-color-darker);
    display: none;
}

.profile_content.active {
    display: initial;
}

.profile_annotation {
    font-size: 15px;
    height: 140px;
    overflow: hidden;
}

.profile_annotationInfo {
    background-color: rgb(255, 255, 255, 0.85);
}

.profile_annotationSpecimenType {
    background-color: var(--main-color-light);
    width: fit-content;
    padding: 5px 10px 5px 10px;
    position: absolute;
    right: 0;
    margin-right: 10px;
    border-bottom-left-radius: 5px;
}

.profile_annotationImage {
    height: 100%;
    width: auto;
}